*
!*.csv
!.gitignore
!*.md
!*.py
!*README*
!*.R
!*.Rmd
!*.r
!*.rmd
!*.sh
!*.yml
!Snakefile
!*/
!**.smk
!/simulation_data/**
!small_test_genome.fa.gz
!**setting.json
!slurm_logs/
!.config/**
!temporary_dependencies/*.txt
results
**__pycache__
.snakemake
!mspangepop
.config/matplotlib