# MSprime configuration file : 

# Each sample is defined by a unique name and associated parameters.
# WARNING : please do a test run with small population sizes first.

samples:
  Five_Island_Model:
    fasta_gz: "small_test_genome.fa.gz"
    chr_n: 1
    demographic_file: "simulation_data/Five_Island_Model.json"
    sv_types: "simulation_data/sv_type.yaml" 
    seed: Pangenome
  Panmictic_Model:
    fasta_gz: "small_test_genome.fa.gz"
    chr_n: 1
    demographic_file: "simulation_data/Panmictic_Model.json"
    sv_types: "simulation_data/sv_type.yaml" 
    seed: Pangenome
  Chain_Migration_Model:
    fasta_gz: "small_test_genome.fa.gz"
    chr_n: 1
    demographic_file: "simulation_data/Chain_Migration_Model.json"
    sv_types: "simulation_data/sv_type.yaml" 
    seed: Pangenome
  Isolation_Model:
    fasta_gz: "small_test_genome.fa.gz"
    chr_n: 1
    demographic_file: "simulation_data/Isolation_Model.json"
    sv_types: "simulation_data/sv_type.yaml" 
    seed: Pangenome

# samples:
#   test_sample1:                  # One sample per simulation (whole genome)   
#     fasta_gz: str                # Path to the compressed FASTA file (genome sequence) for this sample.
#     chr_n: int                   # Number of chromosomes in the fasta file (contigs)                      
#     demographic_file: str        # Path to the demographic scenario JSON file (contains population structure, sample sizes, mutation/recombination rates)
#     sv_type: str                 # Path to the variant type probabilities
#     model: str                   # Mutation model for msprime ['binary', 'infinite_alleles', 'jc69'] (default binary)
#     minimal_sv_length: int       # Minimal length for generated structural variants (default 1)
#     readable_json: [True, False] # If set to true output a human readable json (bigger file size) (default False)
#     seed : [None, int, str]      # Run the msprime simulation using a seed
 
memory_multiplier: 1  # Multiplier for scaling memory across all rules
output_dir: "results/" # Output directory name
